{% extends 'layout.html' %}

{% block content %}
<!-- ventana emer -->
<article>
 <!-- la off canvas se pede poner en el feed tranquilamente -->
  <div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">Heading</h1>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <p>Some text lorem ipsum.</p>
      <p>Some text lorem ipsum.</p>
      <p>Some text lorem ipsum.</p>
      <button class="btn btn-secondary" type="button">A Button</button>
    </div>
  </div>

<div class="bg-secondary p-3 bg-gradient" style="background-color:#cc0033;">


  <div class="row">
    <div class="col">
          <div class="card" style="width:300px">
            <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
          <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
          </div>
      </div>
  </div>

    <div class="col">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
      <div class="card-img-overlay">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
      </div>
     </div>

    </div>

  </div>

  <div class="row">
    <div class="col">
          <div class="card" style="width:300px">
            <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
          <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
          </div>
      </div>
  </div>

    <div class="col">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
      <div class="card-img-overlay">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
      </div>
     </div>

    </div>

  </div>

  <div class="row">
    <div class="col">
          <div class="card" style="width:300px">
            <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
            <div class="card-img-overlay">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
          <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <p class="card-text">Some example text.</p>
              <a href="#" class="btn btn-primary">See Profile</a>
          </div>
      </div>
  </div>

    <div class="col">
    <div class="card" style="width:300px">
      <img class="card-img-top" src="../static/img_avatar1.png" alt="Card image">
      <div class="card-img-overlay">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
      </div>
     </div>

    </div>

  </div>
</div>
  </article>
{% endblock %}
