<footer>
  <div class="row">
      <div class="col"></div>
      <div class="col">
         <ul class="pagination  pagination-lg">
               <li class="page-item" size=15><a1 class="page-link" href="#">Previous</a1></li>
               <li class="page-item" size=15><a1 class="page-link" href="#">1</a1></li>
               <li class="page-item" size=15><a1 class="page-link" href="#">2</a1></li>
               <li class="page-item" size=15><a1 class="page-link" href="#">3</a1></li>
               <li class="page-item" size=15><a1 class="page-link" href="#">Next</a1></li>
          </ul>
     </div>
      <div class="col"></div>
  </div>

</footer>
